@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.not-found {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Josefin Sans', sans-serif;

}

input {
  font-family: FontAwesome;
  color: black;
}